.questionwrap {
  padding: 20px 40px 40px !important;
  background-color: white;
  /* background: linear-gradient(135deg, #f9fbfd 0%, #f6f5f7 50%, #fff1ed 100%); */
  background-color: #f6f5f7;
}
.questionwrap h2 {
  padding: 20px !important;
  font-family: "Bebas Neue";
  font-size: 30px;
  font-weight: lighter;
  color: #2b4367;
}
.questionwrap h2 span {
  color: #a35608;
  font-size: 20px;
  font-weight: normal;
  text-decoration: underline #a35608;
}
.questionwrap p {
  padding: 15px 50px !important;
}

.questionIconwrapper {
  padding: 0px 25px;
  display: flex;
  align-items: center;

  gap: 7px;
  font-size: 16px;
  color: #a35608;
}
.iconni {
  color: #0080ff;
  font-size: 18px;
}
.description {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: rgb(174, 110, 6);
  text-decoration-thickness: 2px;
}

.answer {
  padding: 20px 40px !important;
  border-top: #d6d6d6 solid 0.2px;
  border-bottom: #d6d6d6 solid 0.2px;
  font-size: 26px;
  color: rgb(74, 73, 73);
}

.answerwrap {
  margin-top: 30px;
}

.answerformcontainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.answerform {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  outline: none !important;
  width: 95%;
  margin: auto;
}

.answerformmsg {
  vertical-align: top;
  box-sizing: border-box;

  border: 1.2px solid rgb(149, 149, 149);
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: lighter !important;
  width: 100%;
  height: 150px;
  padding-left: 10px;
  padding-top: 10px;
  resize: none;

  outline: none;
}

.answerPostbtn {
  background-color: #1881eb;
  color: white;
  border: none;
  padding: 0.4rem 0px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 0.4rem;
  transition: background 0.3s ease;
  width: 120px;
}
.err {
  font-size: 13px;
  color: red;
  padding-bottom: 5px;
  padding-left: 5px;
}
.breadcrumbs {
  display: flex;
  gap: 2px;
  padding: 0px 20px 10px;
}

.breadcrumbs a {
  color: #4b345d;
  text-decoration: none;
  font-weight: 530;
  font-size: 11.5px;
  cursor: pointer;
}

.answerList {
  max-height: 250px;
  overflow-y: auto;

  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  width: 95%;
  margin: 1rem auto;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(51, 50, 50, 0.3);
  p:hover {
    text-decoration: none;
    cursor: auto;
    font-family: sans-serif;
  }
  p {
    color: #901b54 !important;
  }
}

.singleAnswer {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 600px) {
  .questionwrap {
    padding: 10px 10px 50px !important;
  }
  .questionIconwrapper {
    padding: 0px 10px;
    font-size: 14px;
  }
  .questionwrap p {
    font-size: 12px !important;
    padding: 10px 3px 15px 40px !important;
  }
  .answer {
    font-size: 17px;
    padding: 15px 30px !important;
  }
  .answerformmsg {
    height: 150px;
    font-size: 13px;
  }

  .answerPostbtn {
    width: 100px;
  }
  .answerList {
    max-height: 200px;
  }
  .questionwrap h2 span {
    font-size: 17px;
  }
}
@media (max-width: 400px) {
  .questionwrap h2 span {
    font-size: 13px;
  }
}
