.ask_btn {
  background: #006eff;
  color: white;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  /* font-weight: bold; */
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s ease;
}
.signin_btn:hover {
  background: #0b2f62;
}
.container_home {
  padding: 20px;
  width: 90%;
  align-items: center;
  margin: 30px auto;
}
.container_homein {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial Narrow";
  font-size: 1.1rem;
  color: rgb(78, 78, 78);
}

.welcome span {
  color: rgb(255, 188, 140);

  font-size: 1rem;
  margin-left: 8px;

  font-family: "Lucida Grande", "Lucida Sans";

  letter-spacing: 0.8px;
}

.container {
  width: 100%;
  padding: 10px 20px 80px 20px;
  align-items: center;
  background-color: #f6f5f7 !important;
}
/* In your CSS file */

@media (max-width: 400px) {
  .ask_btn {
    padding: 0.5rem 0.6rem;
    font-size: 11px;
  }
  .container {
    width: 100%;
    padding: 10px 10px 80px 10px;
  }

  .welcome {
    font-size: 0.7rem;
  }

  .welcome span {
    font-size: 0.7rem;
    margin-left: 8px;
    letter-spacing: 1px;
  }
  .container_home {
    padding: 20px 10px;
    width: 97%;
    align-items: center;
    margin: 30px auto;
  }
}
@media (min-width: 400px) and (max-width: 500px) {
  .ask_btn {
    padding: 0.6rem 0.8rem;
    font-size: 13px;
  }
  .welcome {
    font-size: 0.9rem;
  }

  .welcome span {
    font-size: 0.9rem;
  }
  .container_home {
    padding: 20px 10px;
    width: 97%;
    align-items: center;
    margin: 30px auto;
  }
}
