.privacy_container {
  background-color: #f6f5f7;
  padding-bottom: 120px;
}
.breadcrumbs {
  display: flex;
  padding: 20px 0px 55px 90px;
  gap: 5px;
}
.breadcrumbs span {
  color: #4b345d;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}
.privacy_content {
  padding: 00px 90px;
}
h3 {
  color: #4b345d;
  padding: 50px 0px 10px 0px;
  font-size: 25px;
  font-family: "Bebas Neue" !important;
}
a {
  text-decoration: none;
}
strong {
  color: #dd3c8f;
  font-weight: 200;
  font-size: 18px;
  line-height: 1;
}
ul {
  padding-left: 30px;
  line-height: 1.5;
}
p {
  font-size: 18px;
  line-height: 1.75;
  font-weight: 500;
  font-family: sans-serif;
  padding-left: 10px;
}
.privacy_container h1 {
  color: #4b345d;
  padding: 10px 90px 45px;
  font-size: 50px;
  font-family: "Bebas Neue" !important;
}
small {
  color: rgba(75, 52, 93, 0.8);
  padding: 0px 90px;
  font-size: 20px;
  font-weight: lighter;
  font-family: "Bebas Neue" !important;
}
.contact_infoo img {
  width: 22px;
}
.contact_info img {
  width: 22px;
}
@media (min-width: 500px) and (max-width: 950px) {
  .privacy_content {
    padding: 0 20px;
  }
  .privacy_container h1 {
    font-size: 40px;
    padding: 0 20px;
    font-weight: 550;
  }
  .privacy_content h3 {
    font-size: 24px;
    font-weight: 550;
  }
  p {
    font-size: 15px;
  }
  strong {
    font-size: 14px;
    line-height: 1;
  }
  .breadcrumbs {
    padding: 20px 0px 50px 20px;
    gap: 5px;
    font-size: 14px;
  }
  small {
    padding: 0px 20px;
    font-size: 18px;
  }
}

@media (min-width: 950px) and (max-width: 1130px) {
  .privacy_container h1 {
    font-size: 48px !important;
    font-weight: 550;
  }
}

@media (max-width: 500px) {
  .privacy_container h1 {
    font-size: 20px !important;
    padding: 0px 0px 10px 20px !important;
    font-weight: 550;
  }
  .privacy_content {
    padding: 0 20px;
  }
  .privacy_container small {
    font-size: 15px;
    margin-bottom: 20px !important;
    padding: 0px 20px;
  }

  .privacy_content h3 {
    font-size: 20px;
    font-weight: 500;
  }
  .privacy_content ul {
    font-size: 12px !important;
  }
  .privacy_content p {
    font-size: 12px !important;
  }
  .privacy_content strong {
    font-size: 12px !important;
    line-height: 1;
  }
  .breadcrumbs {
    padding: 20px 0px 50px 20px;
    gap: 5px;
    font-size: 14px;
  }
  .contact_infoo img {
    width: 18px;
  }
  .contact_info img {
    width: 18px;
  }
}
